:root{
    /* красный */
    --red: rgb(242, 60, 60);
    --red-opacity: rgba(242, 60, 60, .25);
    --red-hover: rgba(242, 60, 60, 0.85);

    /* синий */
    --blue: rgb(64, 111, 233);
    --blue-opacity: rgba(64, 111, 233, .25);
    --blue-hover: rgba(64, 111, 233, 0.85);

    /* черный */
    --black: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, .25);

    /* серый обводка */
    --gray-border: rgba(198, 189, 189, 1);
    --gray-border-opacity: rgba(198, 189, 189, .25);

    /* серый текст */
    --gray-text: rgba(136, 136, 136, 1);

    /* серый фон */
    --gray-bg: rgba(233, 233, 233, 1);

    /* серый инактив кнопки */
    --gray-disabled: #888;




    /* z-index */
    --top: 999;
    --bot: 1;
    --hide: -1;


    /* шрифты */
    --inter: "Inter", sans-serif;
    --regular: 400;
    --semibold: 600;
    --bold: 700;
}